#btn_light_dark {
    margin-left: 1%;
    background-color:  transparent;
    border: 1pt dashed white;
    border-radius: 2em;
    line-height: 0.5em;
    text-align: center;
    padding: 1em;
    font-size: 18pt;
    color: white;
    cursor: pointer;
}

#btn_light_dark:hover{
    border: 1pt solid white;
    background-color: white;
    color: black;
    transform: scale(1.1);
    transition: transform 250ms ease-out;
}

.light-theme{
    background-color: #ffffff;
    color: black;
}

.dark-theme{
    background-color: #2d3436;
    background-image: linear-gradient(345deg, #414141 0%, #111 74%);
    color: white;
}

.footer-dark{
    background-color: #bbb;
    color: #222;
}

.footer-light{
    background-color: #222;
    color: white;
}
