#btn_light_dark {
    margin-left: 1%;
    background-color:  transparent;
    border: 1pt dashed white;
    border-radius: 2em;
    line-height: 0.5em;
    text-align: center;
    padding: 1em;
    font-size: 18pt;
    color: white;
    cursor: pointer;
}

#btn_light_dark:hover{
    border: 1pt solid white;
    background-color: white;
    transform: scale(1.1);
    color: black;
}

.light-theme{
    background-color: #fff;
    color: black;
}

.dark-theme{
    background-color: #111;
    color: white;
}
