#matéria h1 {
    font-size: 48pt;
    padding: 25px;
}

#sp{
    text-indent: 0px; /*Tirar o paragrafo dos nome*/
    text-align: left;
}

.names {
    font-size: 15px;
    text-align: center;
}

#figure-cevada {
    float: left;
    padding: 3em;
    font-size: 12pt;   
    text-align: center;
}

.main-materia {
    float: right;
    font-size: 12pt;
}


#div-r{
    display: flex;
    justify-items: right;
}

#div-l{
    display: flex;
    justify-items: left;
}