.materia {
    color: #fff;
}

#sp{
    text-indent: 0px; /*Tirar o paragrafo dos nome*/
}

.names {
    font-size: 15px;
    text-align: center;
}

#figure-cevada {
    float: left;
    padding: 3em;
    font-size: 12pt;   
    text-align: center;
}

.main-materia {
    float: right;
    font-size: 12pt;
}

