#top-nav{
    position: sticky;
    top: 0; 
    display: flex;
    align-items: center;
    background-color: #111;
    z-index: 2;
}

#top-nav #brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
}

#top-nav #brand h4 {
    font-size: 18pt;
    margin-left: 0.5em;    
}

#top-nav #brand img {
    filter: hue-rotate(-80deg);
    width: 12%;
}

#top-nav a {
    color: white;
    border: 1pt dashed white;
    border-radius: 2em;
    line-height: 0.5em;
    text-align: center;
    margin-right: 1%;
    margin-left: 1%;
    padding: 1em;
    font-size: 18pt;
    transition: 125ms ease-in-out;
}

#top-nav a:hover{
    border: 1pt solid white;
    background-color: white;
    color: black;
    transform: scale(1.1);
}

#top-nav.active {
    background-color: #4caf50;
    color: white;
} 

#top-nav .search input[type="search"] {
    position: relative;
    margin-left: 370px;
    border: 5pt solid #fff;
    width: 35%;
    border-radius: 25pt;
}

#top-nav label{
    font-size: 30px;
    color: white;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    justify-items: flex-end;
    display: none;
}

#top-nav #check{
    justify-items: flex-end;
    display: none;
}

/* \/ Creditos \/ */

#credits-nav {
    border-top: solid #000 1pt;
    border-bottom: solid #000 1pt;
    padding-bottom: 1em;
    text-align: justify;
    margin-right: 50%;
}

#credits-nav p, a {
    font-size: 10pt;
}

#credits-nav a {
    color: blue;
}

#credits-nav a:hover {
    text-decoration: underline;
}